* {
    margin: 0px;
    padding: 0px;

}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(145, 199, 224); */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 23em;
    height: 30em;
    text-align: center;
    background-color:#B3B3B3;
    /* border: 2px solid rgb(5, 5, 5); */
    border-radius: 10px;
/* box-shadow: 0 0 10px #f1e6e6fa; */
    padding: 2em;
}

#scramble-word {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em;
    max-width: 100%;
    box-sizing: border-box;
}

.inform {
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;
    ;
    max-width: 100%;
    box-sizing: border-box;
}
.button{
    color: white;
    background-color: rgb(67, 121, 202);
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

#answer {
    font-size: 1em;
    font-weight: 500;
    margin: 0.5em auto;
    padding: 0.9em;
    border: 1px solid #000;
    border-radius: 8px;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.button {
    font-size: 1em;
    font-weight: 500;
    margin: 0.5em auto;
    padding: 0.9em;
    border: 1px solid #000;
    border-radius: 8px;
    max-width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}